<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
</head>

<body>
    <h1>Admin Login</h1>
    <form th:action="@{/admin/login}" method="post">
        <div th:if="${loginError}" class="error">
            <p th:text="${loginError}"></p>
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</body>

</html>