<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/createTrainingPlan" method="post">              
            <input type="text" id="username" name="username" class="form-control form-control-lg" placeholder="Username">
            <input type="text" id="description" name="description" class="form-control form-control-lg" placeholder="Description">
            <input class="btn btn-primary" type="submit" value="Register"></input>
            <a href="/login" class="btn btn-secondary">Return to Login Page</a>
    </form>
</body>
</html>