<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <main class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-4">
				<h1 class="text-center mt-5 mb-4">Update User</h1>
				<form action="/users/update" method="post">
                    
					<div class="mb-3">
                        <input type="text" id="name" name="name" class="form-control form-control-lg" th:value="${student.name}">
                    </div>
                    <div class="mb-3">
                        <input type="text" id="weight" name="weight" class="form-control form-control-lg" th:value="${student.weight}" placeholder="Weight">
                    </div>
                    <div class="mb-3">
                        <input type="text" id="height" name="height" class="form-control form-control-lg" th:value="${student.height}" placeholder="Height">
                    </div>
                    <div class="mb-3">
                        <input type="text" id="hairColor" name="hairColor" class="form-control form-control-lg" th:value="${student.hairColor}" placeholder="Hair Color">
                    </div>
                    <div class="mb-3">
                        <input type="textr" id="gpa" name="gpa" class="form-control form-control-lg" th:value="${student.gpa}" placeholder="GPA">
                    </div>

                    <!-- resending uid -->
                    <input type="hidden" id="uid" name="uid" th:value="${student.uid}">

					<!-- Submit button -->
                    
                    <div class="d-grid gap-2">
                        <input class="btn btn-primary" type="submit" value="SEND"></input>
                        <a href="/users/view" class="btn btn-secondary">Return to Main Menu</a>
                    </div>

                    
                    
				</form>
			</div>
		</div>
	</main>
</body>
</html>