<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Exercises</title>
    <link rel="stylesheet" th:href="@{/css/exercises/viewExercise.css}" />
    <link rel="stylesheet" th:href="@{/css/users/dashboard.css}" />
</head>

<body>
    <div class="container mt-5">
       

        <nav class="navbar">
            <button type="button" id="nav-toggle" class="nav-toggle">☰ Menu</button>
            <div class="nav-menu" id="nav-menu">

                <div class="mt-4">
                    <a th:href="@{/accDetails}" class="btn btn-secondary">View/Edit Account
                        Details</a>
                </div>
                <div class="mt-2">
                    <a th:href="@{/users/logout}" class="btn btn-danger">Logout</a>
                </div>

                <div class="mt-3">
                    <a th:href="@{/dashboard}" class="btn btn-danger">Home</a>
                </div>

                <div class="actions">
                   
                        <form action="/dashboard" method="get">
                            <button type="submit" class="btn btn-secondary">Dashboard</button>
                        </form>
                
                        <form action="/trainingPlan/viewAll" method="get">
                            <button type="submit" class="btn btn-secondary">View Training Plans</button>
                        </form>
            
                        <form action="/exercise/view" method="get">
                            <button type="submit" class="btn btn-secondary">View My Exercise</button>
                        </form>
            
                        <form action="/exercise/add" method="post">
                            <button type="submit" class="btn btn-secondary">Add Exercise</button>
                        </form>
     
                </div>

            </div>
        </nav>
        </div>

        
    <h1>Exercises for<span th:text="${user.username}"></span></h1>

  
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Ensure that the menu is initially closed
            var navMenu = document.getElementById('nav-menu');
            navMenu.style.display = 'none';

            var bodyContent = document.querySelector('.bodyContent');
            bodyContent.style.display = 'block';

            // Toggle menu display when the button is clicked
            document.getElementById('nav-toggle').addEventListener('click', function () {
                navMenu.style.display = navMenu.style.display === 'block' ? 'none' : 'block';
            });

            // Toggle body content display when the button is clicked
            document.getElementById('nav-toggle').addEventListener('click', function () {
                var bodyContent = document.querySelector('.bodyContent');
                bodyContent.style.display = bodyContent.style.display === 'block' ? 'none' : 'block';
            });
        });
    </script>



    <div class="bodyContent">
        <div class="mt-3">
            <form action="/exercise/add" method="post">
                <button type="submit" class="btn btn-secondary">Create new exercise</button>
            </form>
        </div>
        <ul>
            <li th:each="exercise : ${exercises}">
                <p>Name: <span th:text="${exercise.name}"></span></p>
                <p>Description: <span th:text="${exercise.description}"></span></p>
                <p>Intensity: <span th:text="${exercise.intensity}"></span></p>
                <p>Sets: <span th:text="${exercise.sets}"></span></p>
                <p>Reps: <span th:text="${exercise.reps}"></span></p>
                <p>Duration: <span th:text="${exercise.duration}"></span> seconds</p>
                <form th:action="@{/exercise/delete}" method="post">
                    <input type="hidden" name="eid" th:value="${exercise.eid}" />
                    <button type="submit">Delete</button>
                </form>
            </li>
        </ul>
    </div>


</body>

</html>